*{ 
  box-sizing: border-box; 
  transition-timing-function: ease-out;
  transition: opacity 0.3s, box-shadow 0.3s;
}

p{ margin: var(--p-margin) 1vmin var(--p-margin) 0.5vmin; }

body {
  overflow: hidden;
  display: block;
  justify-content: center;
  align-items: center;
  background: #f9f9f9;
}

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500;600&display=swap');

.deck{
  height: 20vmin;
  width: 15vmin;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1vmin solid white;
  border-radius: 1vmin;
  background: violet;
  margin: 1vmin;
  box-shadow: 0 0.2vmin 0.5vmin 0 rgba(0, 0, 0, .2);
}

.bet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50%;
  width: 100%;
  padding: 1vmin;
}

.green-glow {
  box-shadow: 0 0.3vmin 0.6vmin 0 rgba(0, 255, 0, .5) !important;
  background: green;
}

.red-glow {
  box-shadow: 0 0.3vmin 0.6vmin 0 rgba(255, 0, 0, .5) !important;
  background: red;
}


.tcard{
  height: 20vmin;
  width: 3.5vmin;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  background: white;
  margin: 0.5vmin;
  padding-top: 1vmin;
  border-radius: 1vmin 0 0 1vmin;
  box-shadow: 0 0.2vmin 0.5vmin 0 rgba(0, 0, 0, .2);
}

.lcard{
  height: 20vmin;
  width: 15vmin;
  margin: 1vmin;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: white;
  padding: 1vmin;
  border-radius: 1vmin;
  box-shadow: 0 0.2vmin 0.5vmin 0 rgba(0, 0, 0, .2);
}

.pipValue{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
}

.upSideDown{
  transform: rotate(180deg);
}

.cards{
  height: 30vmin;
  width: 80vw;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  padding: 2vmin;
}

.bets{
  height: 10vmin;
  width: 100vmin;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2vmin;
}

.hbox{
  display: flex;
  align-items: center;
}

.game{
  margin-top: 10vmin;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn{
  height: 7vmin;
  width: 7vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  border-radius: 50%;
  margin: 1vmin;
  box-shadow: 0 0.2vmin 0.5vmin 0 rgba(0, 0, 0, .2);
}

.btn:hover{
  height: 7.1vmin;
  width: 7.1vmin;
  box-shadow: 0 0.4vmin 1vmin 0 rgba(0, 0, 0, .1);
}

.bet-p{
  user-select: none;
  font-family: Futura, sans-serif; 
  font-size: 6vmin;
  font-weight: 500;
}

.card-p{
  user-select: none;
  font-family: Futura, serif; 
  font-size: 2vmin;
}
